/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
body {
    font-family: 'Crimson Text', serif;
}

.slick-list {
    height: 550px;
    padding: 100px !important;
}

  .slide {
    transform: scale(1);
    transition: transform 300ms;
  }
  
  .activeSlide {
    transform: scale(1.5);
  }
  
  .arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow svg {
    transition: color 300ms;
    width: 40px;
    height: 40px;
  }
  
  .arrow svg:hover {
    color: black;
  }
  
  .next {
    right: 42%;
    bottom: 0%;
  }
  
  .prev {
    left: 42%;
    bottom: 0%;
  }
  .prev::before {
    position: absolute;
    top: -15px;
    left: 60px;
    content: '/';
    display: block;
    font-size: 50px;
  }

  .w-850 {
    width: 850px;
  }

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.custom-card {
  @apply flex flex-col justify-end items-center h-64 w-40 mr-8 p-4 bg-gray-800 rounded-lg shadow-md text-white;
}

.custom-card__span {
  @apply text-xs uppercase font-extrabold;
}

.custom-card__h2 {
  @apply text-3xl font-medium;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */